*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#header{
  border-color: white;
  height: 190px;
  overflow: hidden;
}

#header img{
  width: 195px;
  height: 90px;
  padding-left: 30px;
  padding-top: 25px;
  float: left;
}

.menu{
  margin-top: 65px;
  margin-right: 10px;
  margin-left: 10px;
}

.menu li{
  margin-left: 5px;
  padding-left: 20px;
  float: left;
  list-style: none;
}

.menu a{
  text-decoration: none;
  color: grey;
}

#headline{
  background-color: tan;
  margin-top: -50px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 50px;
}

#headline h1{
  text-align: center;
}

.beritautama{
  margin-left: 20px;
  margin-right: 20px;
  height: 500px;
}
.beritautama img{
  margin-right: 40px;
  float: left;
}

#content .berita{
    width: 285px;
    height: 450px;
    float: left;
    margin-right: 10px;
}

#content{
  width: 69%;
  overflow: hidden;
  margin-left: 10px;
  /* margin-right: 100px; */
  float: left;
}

#content .berita .gambar{
  /* width: 20%; */
  margin-bottom: 10px;
  margin-left: 10px;

}

#content  .berita .gambar img {
  height: 170px;
  width: 255px;
}

#content .berita .judul{
  /* width: 20%; */
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.2rem;
}

#content .berita .judul a{
  text-decoration: none;
}

#content .berita .judul a:hover{
  text-decoration:underline;
}

#content .berita .tanggal{
  /* width: 20%; */
  margin-bottom: 10px;
}

#content .berita .news{
  width: auto;
  margin-bottom: 10px;
}

#content .berita .readmore{
  /* width: 20%; */
  margin-bottom: 10px;
  font-size: 1rem;
}

#content .berita .readmore a{
  text-decoration: none;
}
#sidebar {
  /* margin: 30%; */
  border: 2px solid red;
  text-align: center;
  border-radius: 20px;
  background-color: whitesmoke;
  float: right;
  width: 28%;
}

.sidebar-head h1{
  background-color: black;
  border-radius: 50px;
  width: 90%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

.sidebar-head h1:hover{
  color: red;
}

.sidebar-partner h1{
  color: white;
  background: black;
  border-radius: 50px;
  width: 90%;
  margin: auto;
  margin-top: 30px;
}

.sidebar-bar h1:hover{
  color: red;
}

.sidebar-partner h1:hover{
  color: red;
}

#sidebar .sidebar-video{
  border-radius: 30px;
  opacity: .7px;
}

#sidebar .sidebar-video iframe{
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 10px;
  border-radius: 30px;
}

.sidebar-photo img:active{
  height: 200%;
  width: 200%;
}

.sidebar-photo img{
border-radius: 10px;
}

.platinum p{
  background-color: lightgrey;
}

.gold p{
  background-color: Gold;
}

.Preferred p{
  background-color: silver;
}

.Official p{
  background-color: grey;
}

.sidebar-partner img:hover{
  height: 30%;
  width: 30%;
}
